@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Ag Grid Imports
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media print {
  app-footer {
    display: none;
  }
}

mat-error {
  font-size: 12px;
}

.mat-tab-group.mat-background-primary .mat-tab-header, .mat-tab-group.mat-background-primary .mat-tab-links, .mat-tab-nav-bar.mat-background-primary .mat-tab-header, .mat-tab-nav-bar.mat-background-primary .mat-tab-links {
  background-color: #ab47bc !important;
}
