<div class="logo">
  <a [routerLink]="['/admin']" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/logo.png" />
    </div>
    Rice Mill
  </a>
  <div class="text-center d-block my-2">
    <mat-button-toggle-group name="companyId" aria-label="companyId" (valueChange)="onCompanyChange()"
      [(ngModel)]="companyId">
      <mat-button-toggle [value]="+companyType.ABRiceMill">{{companyType.ABRiceMill | companyType}}
      </mat-button-toggle>
      <mat-button-toggle [value]="+companyType.GDTrading">{{companyType.GDTrading | companyType}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">

  </div>
  <ul class="nav sidebar-height">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngFor="let menuItem of menuItems"
      class="{{menuItem.class}} nav-item ps-child">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i [ngClass]="menuItem.icon"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
    <li class="nav-item mb-5" (click)="logout()" [ngStyle]="{'cursor':'pointer'}">
      <a class="nav-link">
        <i class="fa fa-sign-out-alt"></i>
        <p>Logout</p>
      </a>
    </li>
  </ul>
</div>
