<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary rounded py-4">
          <h3 class="card-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <mat-form-field class="col-md-8">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            <div class="col-md-4">
              <button mat-raised-button type="button" class="btn btn-primary" (click)="openModal()"><i
                  class="material-icons">add</i> Add Purchase</button>
            </div>
          </div>
          <mat-spinner *ngIf="isLoadingData"></mat-spinner>
          <div class="mat-elevation-z8">
            <table class="table-responsive-sm" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()">
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.id}} </td>
              </ng-container>

              <ng-container matColumnDef="totalMaund">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Maund</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.totalMaund | number : '1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="ratePerMaund">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate per Maund</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.ratePerMaund | currency:'Rs '}} </td>
              </ng-container>

              <ng-container matColumnDef="brokery">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brokery</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.commission | number : '1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.totalPrice | currency:'Rs '}} </td>
              </ng-container>

              <ng-container matColumnDef="totalGatepasses">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Gatepasses</th>
                <td mat-cell *matCellDef="let purchase"> {{purchase?.gatepasses?.length }} </td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let purchase"> {{purchase.createdDate | localDatetime}} </td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let purchase">
                  <a href="javascript:;" (click)="editPurchase(purchase)"><i class="fa fa-pen"
                      aria-hidden="true"></i></a>
                  &nbsp;
                  <a href="javascript:;" (click)="deletePurchase(purchase)"><i class="fa fa-trash text-danger"
                      aria-hidden="true"></i></a>
                  &nbsp;
                  <a href="javascript:;" (click)="printPurchase(purchase)"><i class="material-icons text-info">
                      print
                    </i></a>
                </td>
              </ng-container>

              <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="11" class="no-records">
                  No records found
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <div *ngIf="purchaseList">
                <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
              </div>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-purchase-receipt class="d-none"></app-purchase-receipt>
