<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary rounded py-4">
          <h3 class="card-title"><i class="fa fa-passport" aria-hidden="true"></i>
            Lots</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <mat-form-field class="col-md-6">
              <input matInput (keyup)="applyFilter($event.target.value)"
                [placeholder]="'gatepassPage.search' | translate">
            </mat-form-field>
            <!-- <div class="col-md-4">
              <button mat-raised-button type="button" class="btn btn-primary" (click)="openModal()"><i
                  class="material-icons">add</i> Add Lot</button>
            </div> -->
          </div>
          <mat-spinner *ngIf="isLoadingData"></mat-spinner>
          <div class="row">
            <div class="mat-elevation-z8 col-md-6">
              <h3> Stock In </h3>
              <table class="table-responsive-sm" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.id}} </td>
                </ng-container>

                <ng-container matColumnDef="gatepassTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let lot">
                    {{lot.gatepassTime | localDatetime}} </td>
                </ng-container>

                <ng-container matColumnDef="bagQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bag Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.bagQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="boriQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bori Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.boriQuantity}} </td>
                </ng-container>
                
                <ng-container matColumnDef="totalKG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total KG</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.totalKG}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let stockIn">
                    <a href="javascript:;" (click)="addProcessedMaterial(stockIn)">
                      <i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                    <!-- <a href="javascript:;" (click)="deleteGatepass(gatepass)"
                      *ngIf="!gatepass.saleId && !gatepass.purchaseId"><i class="fa fa-trash text-danger"
                        aria-hidden="true"></i></a> -->
                  </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                  <td mat-footer-cell *matFooterCellDef colspan="12" class="no-records">
                    No records found
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <div *ngIf="lotList">
                  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
                </div>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
            </div>

            <div class="mat-elevation-z8 col-md-6">
              <h3> Processed Material </h3>
              <table class="table-responsive-sm" mat-table [dataSource]="processedMaterialDataSource" matSort (matSortChange)="processedMaterialSortData()">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.id}} </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                  <td mat-cell *matCellDef="let lot">
                    </td>
                </ng-container>

                <ng-container matColumnDef="bagQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bag Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.bagQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="boriQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bori Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.boriQuantity}} </td>
                </ng-container>
                
                <ng-container matColumnDef="totalKG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total KG</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.totalKG}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let stockIn">
                    <a href="javascript:;" (click)="addProcessedMaterial(stockIn)">
                      <i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                    <!-- <a href="javascript:;" (click)="deleteGatepass(gatepass)"
                      *ngIf="!gatepass.saleId && !gatepass.purchaseId"><i class="fa fa-trash text-danger"
                        aria-hidden="true"></i></a> -->
                  </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                  <td mat-footer-cell *matFooterCellDef colspan="12" class="no-records">
                    No records found
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="processedMaterialDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: processedMaterialDisplayedColumns;"></tr>
                <div *ngIf="processedMaterialList">
                  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
                </div>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
