<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary rounded py-4">
          <h3 class="card-title"><i class="fa fa-passport" aria-hidden="true"></i>
            Lots</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <mat-form-field class="col-md-2">
              <input matInput (keyup)="applyFilter($event.target.value)"
                [placeholder]="'lotPage.searchId' | translate">
            </mat-form-field>

            <mat-form-field class="col-2">
              <mat-label>Select Year</mat-label>
              <mat-select [(ngModel)]="selectedYear">
                <mat-option *ngFor="let year of lotYearIds" [value]="year.yearId">
                  {{year.yearId}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-md-4">
              <button mat-raised-button type="button" class="btn btn-primary" (click)="getLotsList()">
                <!-- <i  class="material-icons">add</i>  -->
                Search</button>
            </div>
          </div>
          <mat-spinner *ngIf="isLoadingData"></mat-spinner>
          <div class="row">
            <div class="mat-elevation-z8 col-md-6">
              <h3> Stock In </h3>
              <!-- <table class="table-responsive-sm" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.id}} </td>
                </ng-container>

                <ng-container matColumnDef="gatepassTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let lot">
                    {{lot.gatepassTime | localDatetime}} </td>
                </ng-container>

                <ng-container matColumnDef="bagQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bag Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.bagQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="boriQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bori Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.boriQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="totalKG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total KG</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.totalKG}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let stockIn">
                    <a href="javascript:;" (click)="addProcessedMaterial(stockIn)">
                      <i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                  </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                  <td mat-footer-cell *matFooterCellDef colspan="12" class="no-records">
                    No records found
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <div *ngIf="lotList">
                  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
                </div>
              </table> -->
              <ag-grid-angular style="height: 350px;" class="ag-theme-balham w-100" [gridOptions]="stockInGridOptions">
              </ag-grid-angular>
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
              <ng-template #actionBtn let-row>
                <button class='fas action-btn' (click)="addProcessedMaterial(row)">
                  <i> &#xf044;</i>
                </button>
              </ng-template>
            </div>

            <div class="mat-elevation-z8 col-md-6">
              <h3> Processed Material </h3>
              <!-- <table class="table-responsive-sm" mat-table [dataSource]="processedMaterialDataSource" matSort (matSortChange)="processedMaterialSortData()">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.id}} </td>
                </ng-container>

                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                  <td mat-cell *matCellDef="let lot">
                    </td>
                </ng-container>

                <ng-container matColumnDef="bagQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bag Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.bagQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="boriQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bori Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.boriQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="totalKG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total KG</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.totalKG}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let stockIn">
                    <a href="javascript:;" (click)="addProcessedMaterial(stockIn)">
                      <i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                  </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                  <td mat-footer-cell *matFooterCellDef colspan="12" class="no-records">
                    No records found
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="processedMaterialDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: processedMaterialDisplayedColumns;"></tr>
                <div *ngIf="processedMaterialList">
                  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
                </div>
              </table> -->
              <ag-grid-angular style="height: 350px;" class="ag-theme-balham w-100" [gridOptions]="processedMaterialGridOptions">
              </ag-grid-angular>
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
            </div>
          </div>

          <div class="row">
            <div class="mat-elevation-z8 col-md-12">
              <h3> Stock Out </h3>
              <ag-grid-angular style="height: 350px;" class="ag-theme-balham w-100" [gridOptions]="stockOutGridOptions">
              </ag-grid-angular>
              <!-- <table class="table-responsive-sm" mat-table [dataSource]="stockOutDataSource" matSort (matSortChange)="sortData()">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.id}} </td>
                </ng-container>

                <ng-container matColumnDef="gatepassTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let lot">
                    {{lot.gatepassTime | localDatetime}} </td>
                </ng-container>

                <ng-container matColumnDef="bagQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bag Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.bagQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="boriQuantity">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bori Quantity</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.boriQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="totalKG">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Total KG</th>
                  <td mat-cell *matCellDef="let lot"> {{lot.totalKG}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let stockIn">
                    <a href="javascript:;" (click)="addProcessedMaterial(stockIn)">
                      <i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                  </td>
                </ng-container>
                <ng-container matColumnDef="disclaimer">
                  <td mat-footer-cell *matFooterCellDef colspan="12" class="no-records">
                    No records found
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="stockOutColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: stockOutColumns;"></tr>
                <div *ngIf="lotList">
                  <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
                </div>
              </table> -->
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
            </div>
          </div>

          <div class="row mt-2">
            <div class="mat-elevation-z8 col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <h3> Rate Cost </h3>
                </div>
                <div class="offset-4 col-md-4 d-flex justify-content-end">
                  <button mat-raised-button type="button" class="btn btn-primary" (click)="openRateCostModal()"><i
                    class="material-icons">add</i> Add Rate/Cost</button>
                </div>
              </div>
              <ag-grid-angular style="height: 350px;" class="ag-theme-balham w-100" [gridOptions]="rateCostGridOptions">
              </ag-grid-angular>
              <ng-template #rateCostActionBtn let-row>
                <button class='fas action-btn' (click)="editRateCost(row)">
                  <i> &#xf044;</i>
                </button>
              </ng-template>
              <mat-paginator [pageSizeOptions]="[10, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
