<ng-template #header>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Add Sale</h2>
  <h2 mat-dialog-title class="d-inline" *ngIf="!isNew">Edit Sale</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form [formGroup]="saleForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input type="datetime-local" matInput placeholder="Choose DateTime" formControlName="date">
            <mat-error *ngIf="saleForm.get('date').hasError('required')">Datetime required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let gatepass of gatepasses"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(gatepass)">
                <p class="mb-0"><b>Party:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} | <b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add Gatepasses..."
                #gatepassInput
                formControlName="gatepass"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option class="custom-height" *ngFor="let gatepass of filteredGatepasses" [value]="gatepass">
                <span>
                  <p><b>Party:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} </p>
                  <p><b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                </span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="row" formGroupName="weightPriceGroup">      
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12 d-flex">
             <p class="pl-2"><b> Maund: </b>
              {{saleForm.get('weightPriceGroup.totalMaund').value}} </p> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex">
              <p class="pl-2"><b> Bag Quantity: </b> {{saleForm.get('weightPriceGroup.bagQuantity').value}} </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 d-flex">
              <p class="pl-2"><b> Bori Quantity: </b>
              {{saleForm.get('weightPriceGroup.boriQuantity').value}}  </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 pr-0 d-flex align-items-center">
          <div class="row w-100">
            <div class="col-6">
              <mat-button-toggle-group formControlName="isMaundBasedRate" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">Maund</mat-button-toggle>
                <mat-button-toggle value="3">Bag</mat-button-toggle>
              </mat-button-toggle-group>
              </div>
              <div class="col-6 p-0">
                <mat-form-field class="w-100">
                  <input type="number" matInput placeholder="Enter Rate" formControlName="rate">
                  <mat-error *ngIf="saleForm.get('weightPriceGroup.rate').hasError('required')">
                    Rate is required
                  </mat-error>
                  <mat-error *ngIf="saleForm.get('weightPriceGroup.rate').hasError('min')">
                    Rate Price must be greater than 0</mat-error>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-end">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Total Charges:&nbsp;
          </b> {{ getRateBasedOnTotal() |currency:"PKR":"symbol":'1.2-2' }} </p>
          </span>
        </div>

        <div class="col-md-12">
          <mat-divider class="mb-2"></mat-divider>
        </div>

        <div class="col-md-8">
          <mat-form-field>
            <input type="number" matInput placeholder="Brokery" formControlName="commission">
            <mat-error *ngIf="saleForm.get('weightPriceGroup.commission').hasError('required')">
              Brokery is required
            </mat-error>
            <mat-error *ngIf="saleForm.get('weightPriceGroup.commission').hasError('min')">
              Brokery must be greater than 0</mat-error>
          </mat-form-field>
        </div>

        <!-- <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Freight" formControlName="freight">
            <mat-error *ngIf="saleForm.get('weightPriceGroup.freight').hasError('required')">
              Freight is required
            </mat-error>
            <mat-error *ngIf="saleForm.get('weightPriceGroup.freight').hasError('min')">
              Freight must be greater than 0</mat-error>
          </mat-form-field>
        </div> -->

        <div class="col-md-4">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Brokery Charges:&nbsp;
          </b> {{ (saleForm.get('weightPriceGroup.commission').value)  |currency:"PKR":"symbol": '1.2-2' }} </p>
          </span>
        </div>
        <div class="col-md-12">
          <mat-divider class="mb-2"></mat-divider>
        </div>
      </div> 
      <div formArrayName="additionalCharges">
        <div *ngFor="let labour of saleForm.get('additionalCharges')['controls']; index as i" [formGroupName]="i"
          class="row">
          <div class="col-2 d-flex">
            <!-- <label id="addPrice" class="d-block">Add Price</label> -->
            <mat-checkbox aria-labelledby="addPrice" formControlName="addPrice" color="primary" class="m-auto">Add price
            </mat-checkbox>
          </div>
          <input type="number" hidden formControlName="id">
          <mat-form-field class="col-3">
            <input type="text" matInput placeholder="Enter Task" formControlName="task">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Bag Quantiy" formControlName="bagQuantity">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Rate" formControlName="rate">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Total Price" formControlName="total" readonly>
          </mat-form-field>
          <div class="col-1 d-flex">
            <i class="fas fa-window-close fa-lg show-cursor my-auto text-danger" style="cursor: pointer;"
              (click)="deleteCharges(i)">
            </i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button type="button" class="btn btn-primary" (click)="addCharges()">Add Labour</button>
          </div>
          <div class="col-md-6">
            <span class="grand-total"><p class="d-flex justify-content-end"><b> Total Additional Charges:&nbsp;
            </b> {{ additionalCharges |currency:"PKR":"symbol":'1.2-2' }} </p>
            </span>
          </div>
        </div>
        <div class="col-md-12">
          <mat-divider class="mb-2"></mat-divider>
        </div>
      </div>

      <div class="row">
        <div class="offset-6 col-md-6">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Grand Total:&nbsp;
          </b> {{ getRateBasedOnTotal() + saleForm.get('weightPriceGroup.commission').value + additionalCharges |currency:"PKR":"symbol":'1.2-2' }} </p>
          </span>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Save</button>
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="!isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Update</button>
        <button mat-raised-button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteHeader>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Delete Sale</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #deleteBody>
  <mat-dialog-content>
    Are you sure you want to delete this sale?
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row mt-3 ml-1">
      <button mat-raised-button (click)="delete()" type="button" class="btn btn-primary">
        <span *ngIf="spinner.isLoading">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;
        </span>Yes</button>
      <button mat-raised-button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </mat-dialog-actions>
</ng-template>

<app-modal [Header]="header" [Body]="body" *ngIf="!isDelete"></app-modal>
<app-modal [Body]="deleteBody" *ngIf="isDelete"></app-modal>
