<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary rounded py-4">
          <h3 class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Ledger</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- <mat-form-field class="col-md-8">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field> -->
            <mat-form-field class="col-12">
              <mat-label>Select Company</mat-label>
              <mat-select [(ngModel)]="selectedCompanyID" (selectionChange)="onCompanyChange()">
                <mat-option *ngFor="let company of companyList" [value]="company.id">
                  {{company.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-spinner *ngIf="isLoadingData"></mat-spinner>
          <div class="row" *ngIf="ledgerData">
            <div class="col-12">
              <h4 class="text-right netBalance">Net Balance:
                {{(ledgerData.totalCredit-ledgerData.totalDebit) | localCurrency}}</h4>
            </div>
          </div>
          <div class="mat-elevation-z8">
            <table class="table-responsive-sm" mat-table [dataSource]="dataSource" multiTemplateDataRows>
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef> Date</th>
                <td mat-cell *matCellDef="let ledger"> {{ledger.createdDate | localDatetime}} </td>
              </ng-container>

              <ng-container matColumnDef="ledgerType">
                <th mat-header-cell *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef="let ledger"> {{ledger.ledgerType | ledgerType}} </td>
              </ng-container>

              <ng-container matColumnDef="credit">
                <th mat-header-cell *matHeaderCellDef> Credit</th>
                <td mat-cell *matCellDef="let ledger">
                  <span *ngIf="ledger.credit!==0">
                    {{ledger.credit | currency:'Rs '}}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="debit">
                <th mat-header-cell *matHeaderCellDef> Debit </th>
                <td mat-cell *matCellDef="let ledger">
                  <span *ngIf="ledger.debit!==0">
                    {{ledger.debit | currency:'Rs '}}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef> Balance </th>
                <td mat-cell *matCellDef="let ledger">
                  <span>
                    {{ledger.balance | localCurrency}}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let ledger" [attr.colspan]="displayedColumns.length">
                  <!-- <mat-divider></mat-divider> -->
                  <div class="example-element-detail"
                    [@detailExpand]="ledger.transactionId == expandedTransactionId && ledger.ledgerType == expandedLedgerType ? 'expanded' : 'collapsed'">
                    <div *ngIf="salePurchaseInfo==1">
                      <p><b>Product Name: </b>{{ledgerInfo.product}}</p>
                      <p><b>Total Actual Bag Weight: </b>{{ledgerInfo.totalActualBagWeight | currency:'Kg '}}</p>
                      <p><b>Total Maund: </b>{{ledgerInfo.totalMaund }}</p>
                      <p><b>Maund Price: </b>{{ledgerInfo.maundPrice | currency:'Rs '}}</p>
                    </div>
                    <div *ngIf="salePurchaseInfo==2">
                      <p><b>Bank Name: </b>{{bankTransactionInfo.bank}}</p>
                      <p><b>Account Number: </b>{{bankTransactionInfo.accountNumber}}</p>
                      <p *ngIf="bankTransactionInfo.paymentType==2"><b>Cheque Number:
                        </b>{{bankTransactionInfo.chequeNumber}}</p>
                      <p><b>Payment Type: </b>{{bankTransactionInfo.paymentType | paymentType}}</p>
                    </div>
                  </div>
                  <!-- <mat-divider></mat-divider> -->
                </td>
              </ng-container>

              <ng-container matColumnDef="disclaimer">
                <td mat-footer-cell *matFooterCellDef colspan="5" class="no-records">
                  No records found
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                [class.example-expanded-row]="expandedTransactionId === row.transactionId" (click)="getLedgerInfo(row)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              <div *ngIf="ledgerData && ledgerData.ledgerResponses.length==0">
                <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="no-records"></tr>
              </div>
            </table>
            <mat-paginator [pageSizeOptions]="[25, 50, 100,200]" [showFirstLastButtons]="true" (page)="changePage()">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
