<ng-template #header>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Add Purchase</h2>
  <h2 mat-dialog-title class="d-inline" *ngIf="!isNew">Edit Purchase</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form [formGroup]="purchaseForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input type="datetime-local" matInput placeholder="Choose DateTime" formControlName="date">
            <mat-error *ngIf="purchaseForm.get('date').hasError('required')">Datetime required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let gatepass of gatepasses"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(gatepass)">
                <p class="mb-0"><b>Company:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} | <b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add Gatepasses..."
                #gatepassInput
                formControlName="gatepass"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option class="custom-height" *ngFor="let gatepass of filteredGatepasses" [value]="gatepass">
                <span>
                  <p><b>Company:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} </p>
                  <p><b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                </span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <!---------------------->
      <!-- Old Modal Fields -->
      <!-- <div class="row" formGroupName="companyGroup">
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Party Name" formControlName="name" autocomplete="off"
              [matAutocomplete]="partyAutoComplete">
            <mat-autocomplete #partyAutoComplete="matAutocomplete" (optionSelected)="selectedParty($event)">
              <mat-option *ngFor="let party of partySuggestions" [value]="party">
                {{party.name + ' -- ' + party.address}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="purchaseForm.get('partyGroup.name').hasError('required')">Party Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Phone Number" formControlName="phoneNumber">
            <mat-error *ngIf="purchaseForm.get('partyGroup.phoneNumber').hasError('required')">Party Name is
              required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('partyGroup.phoneNumber').hasError('maxlength')">Phone number must be
              less than 13
              digits</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Party Address" formControlName="address">
            <mat-error *ngIf="purchaseForm.get('partyGroup.address').hasError('required')">Party address is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" formGroupName="vehicleGroup">
            <input type="text" matInput placeholder="Enter Plate Number" formControlName="plateNo" autocomplete="off"
              [matAutocomplete]="vehicleAutoComplete">
            <mat-autocomplete #vehicleAutoComplete="matAutocomplete" (optionSelected)="selectedVehicle($event)">
              <mat-option *ngFor="let vehicle of vehicleSuggestions" [value]="vehicle">
                {{ vehicle.plateNo }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="purchaseForm.get('vehicleGroup.plateNo').hasError('required')">Plate Number is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" formGroupName="productGroup">
            <input type="text" matInput placeholder="Enter Product Name" formControlName="name" autocomplete="off"
              [matAutocomplete]="productAutoComplete">
            <mat-autocomplete #productAutoComplete="matAutocomplete" (optionSelected)="selectedProduct($event)">
              <mat-option *ngFor="let product of productSuggestions" [value]="product">
                {{product.name }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="purchaseForm.get('productGroup.name').hasError('required')">Product Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Enter Product Price" formControlName="plateNo">
              <mat-error *ngIf="purchaseForm.get('productGroup.plateNo').hasError('required')">Plate Number is required
              </mat-error>
            </mat-form-field>
          </div>
        <div class="col-md-6">
          <mat-form-field class="w-100 ">
            <mat-select placeholder="Select Gatein Direction" formControlName="direction">
              <mat-option *ngFor="let direction of GateinDirectionTypes" [value]="direction.value">
                {{ direction.text }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="purchaseForm.get('direction').hasError('required')">Direction is required</mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <div class="row" formGroupName="weightPriceGroup">
        <!-- <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Bag Quantity" formControlName="bagQuantity">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.bagQuantity').hasError('required')">
              Bag quantity is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.bagQuantity').hasError('min')">
              Bag quantity must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Bag Weight" formControlName="bagWeight">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.bagWeight').hasError('required')">
              Bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.bagWeight').hasError('min')">
              Bag weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Kanda Weight" formControlName="kandaWeight">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.kandaWeight').hasError('required')">kanda weight is
              required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.kandaWeight').hasError('min')">Kanda weight must be
              greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Empty Bag Weight" formControlName="emptyBagWeight">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.emptyBagWeight').hasError('required')">
              Empty bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.emptyBagWeight').hasError('min')">
              Empty Weight must be greater than 0</mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.emptyBagWeight').hasError('max')">
              Empty Weight must be less than than 3</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Total Empty Bag Weight" formControlName="totalEmptyBagWeight"
              readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalEmptyBagWeight').hasError('required')">
              Empty bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalEmptyBagWeight').hasError('min')">
              Empty Bag Weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Expected Bag Weight" formControlName="expectedBagWeight"
              readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.expectedBagWeight').hasError('required')">
              Expected bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.expectedBagWeight').hasError('min')">
              Expected bag weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Total Expected Bag Weight"
              formControlName="totalExpectedBagWeight" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalExpectedBagWeight').hasError('required')">
              Total expected bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalExpectedBagWeight').hasError('min')">
              Total expected bag weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Vibration" formControlName="vibration">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.vibration').hasError('required')">
              Vibration is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.vibration').hasError('min')">
              Vibration must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Actual Bags" formControlName="actualBags" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalMaund').hasError('required')">
              Actual Bags required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalMaund').hasError('min')">
              Actual Bags must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Actual Bag Weight" formControlName="actualBagWeight" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.actualBagWeight').hasError('required')">
              Actual bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.actualBagWeight').hasError('min')">
              Actual bag weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Total Actual Bag Weight" formControlName="totalActualBagWeight"
              readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalActualBagWeight').hasError('required')">
              Total Actual bag weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalActualBagWeight').hasError('min')">
              Total Actual bag weight must be greater than 0</mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-md-5">
          <mat-form-field>
            <input type="number" matInput placeholder="Maund Weight" formControlName="totalMaund" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalMaund').hasError('required')">
              Maund weight is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalMaund').hasError('min')">
              Maund weight must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Maund Price" formControlName="ratePerMaund">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.ratePerMaund').hasError('required')">
              Maund Price is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.ratePerMaund').hasError('min')">
              Maund Price must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Total:&nbsp;
          </b> {{ purchaseForm.get('weightPriceGroup.ratePerMaund').value * purchaseForm.get('weightPriceGroup.totalMaund').value  |currency:"PKR":"symbol":'1.2-2' }} </p>
          </span>
        </div>
        <!-- <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Kg Price" formControlName="ratePerKg" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.ratePerKg').hasError('required')">
              Kg Price is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.ratePerKg').hasError('min')">
              Kg Price must be greater than 0</mat-error>
          </mat-form-field>
        </div> -->
        <!-- <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Total Price" formControlName="totalPrice" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalPrice').hasError('required')">
              Total Price is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalPrice').hasError('min')">
              Total Price must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Commission Rate" formControlName="percentCommission">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.percentCommission').hasError('required')">
              Commission rate is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.percentCommission').hasError('min')">
              Commission rate must be greater than 0</mat-error>
          </mat-form-field>
        </div> -->
        <div class="col-md-10">
          <mat-form-field>
            <input type="number" matInput placeholder="Commission" formControlName="commission">
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.commission').hasError('required')">
              Commission is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.commission').hasError('min')">
              Commission must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Total:&nbsp;
          </b> {{ purchaseForm.get('weightPriceGroup.commission').value  |currency:"PKR":"symbol": '1.2-2' }} </p>
          </span>
        </div>
      </div> 
      <!---------------------->
      <!-- Old Modal Fields -->

      <!-- <div class="row">
        <div class="col-6">
          <mat-form-field class="w-100">
            <input type="number" matInput placeholder="Enter Credit" formControlName="credit">
            <mat-error *ngIf="purchaseForm.get('credit').hasError('min')">
              Credit must be greater than 0</mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="w-100">
            <input type="number" matInput placeholder="Enter Debit" formControlName="debit">
            <mat-error *ngIf="purchaseForm.get('debit').hasError('min')">
              Debit must be greater than 0</mat-error>
          </mat-form-field>
        </div>
      </div> -->

      <div formArrayName="additionalCharges">
        <div *ngFor="let labour of purchaseForm.get('additionalCharges')['controls']; index as i" [formGroupName]="i"
          class="row">
          <div class="col-2 d-flex">
            <!-- <label id="addPrice" class="d-block">Add Price</label> -->
            <mat-checkbox aria-labelledby="addPrice" formControlName="addPrice" color="primary" class="m-auto">Add price
            </mat-checkbox>
          </div>
          <input type="number" hidden formControlName="id">
          <mat-form-field class="col-3">
            <input type="text" matInput placeholder="Enter Task" formControlName="task">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Bag Quantiy" formControlName="bagQuantity">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Rate" formControlName="rate">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Total Price" formControlName="total" readonly>
          </mat-form-field>
          <div class="col-1 d-flex">
            <i class="fas fa-window-close fa-lg show-cursor my-auto text-danger" style="cursor: pointer;"
              (click)="deleteCharges(i)">
            </i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button type="button" class="btn btn-primary" (click)="addCharges()">Add Labour</button>
          </div>
          <div class="col-md-6">
            <span class="grand-total"><p class="d-flex justify-content-end"><b> Total:&nbsp;
            </b> {{ additionalCharges |currency:"PKR":"symbol":'1.2-2' }} </p>
            </span>
          </div>
        </div>
      </div>

      <mat-divider class="mb-2"></mat-divider>
      <div class="row">
        <div class="offset-6 col-md-6">
          <span class="grand-total"><p class="d-flex justify-content-end"><b> Grand Total:&nbsp;
          </b> {{ purchaseForm.get('weightPriceGroup.ratePerMaund').value * purchaseForm.get('weightPriceGroup.totalMaund').value + purchaseForm.get('weightPriceGroup.commission').value + additionalCharges |currency:"PKR":"symbol":'1.2-2' }} </p>
          </span>
          <!-- <mat-form-field>
            <input type="number" matInput placeholder="Total Price" formControlName="totalPrice" readonly>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalPrice').hasError('required')">
              Total Price is required
            </mat-error>
            <mat-error *ngIf="purchaseForm.get('weightPriceGroup.totalPrice').hasError('min')">
              Total Price must be greater than 0</mat-error>
          </mat-form-field> -->
      </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Save</button>
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="!isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Update</button>
        <button mat-raised-button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteHeader>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Delete Purchase</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #deleteBody>
  <mat-dialog-content>
    Are you sure you want to delete this purchase?
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row mt-3 ml-1">
      <button mat-raised-button (click)="delete()" type="button" class="btn btn-primary">
        <span *ngIf="spinner.isLoading">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;
        </span>Yes</button>
      <button mat-raised-button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </mat-dialog-actions>
</ng-template>

<app-modal [Header]="header" [Body]="body" *ngIf="!isDelete"></app-modal>
<app-modal [Body]="deleteBody" *ngIf="isDelete"></app-modal>
