<ng-template #header>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Add Voucher</h2>
  <h2 mat-dialog-title class="d-inline" *ngIf="!isNew">Edit Voucher</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form [formGroup]="voucherForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <label id="type" class="d-block">Voucher Type</label>
          <mat-radio-group aria-labelledby="type" formControlName="type">
            <mat-radio-button [value]="voucherType.Sale" class="mr-2" color="primary"> Sale</mat-radio-button>
            <mat-radio-button [value]="voucherType.Purchase" color="primary"> Purchase</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-8 col-sm-12">
          <label id="type" class="d-block">Voucher Detail Type</label>
          <mat-radio-group aria-labelledby="type" formControlName="detailType">
            <mat-radio-button [value]="voucherDetailType.CashReceivable" class="mr-2" color="primary"> Cash Receivable
            </mat-radio-button>
            <mat-radio-button [value]="voucherDetailType.CashPayable" class="mr-2" color="primary"> Cash Payable
            </mat-radio-button>
            <mat-radio-button [value]="voucherDetailType.BankReceivable" class="mr-2" color="primary"> Bank Receivable
            </mat-radio-button>
            <mat-radio-button [value]="voucherDetailType.BankPayable" class="mr-2" color="primary"> Bank Payable
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div formArrayName="voucherDetails">
        <div *ngFor="let voucherDetail of voucherForm.get('voucherDetails')['controls'];let i=index" [formGroupName]="i"
          class="row mb-1">
          <mat-form-field class="col-1">
            <input type="number" matInput placeholder="Party Id" formControlName="partyId"
              [matAutocomplete]="partyAutoComplete" (input)="onPartyInput($event.target.value)">
            <mat-autocomplete #partyAutoComplete="matAutocomplete" (optionSelected)="selectedParty(i,$event)">
              <mat-option *ngFor="let party of partySuggestions" [value]="party">
                {{party.name + ' -- ' + party.address}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-2" *ngIf="isSaleVoucher">
            <input type="number" matInput placeholder="Sale Invoice" formControlName="saleId"
              [matAutocomplete]="saleAutoComplete" (input)="onSaleInput($event.target.value)">
            <mat-autocomplete #saleAutoComplete="matAutocomplete" (optionSelected)="selectedSale(i,$event)">
              <mat-option *ngFor="let sale of saleSuggestions" [value]="sale">
                {{sale.gatepasses[0].party.name + ' -- ' + sale.basePrice}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-2" *ngIf="!isSaleVoucher">
            <input type="number" matInput placeholder="Purhcase Invoice" formControlName="purchaseId"
              [matAutocomplete]="purchaseAutoComplete" (input)="onPurchaseInput($event.target.value)">
            <mat-autocomplete #purchaseAutoComplete="matAutocomplete" (optionSelected)="selectedPurchase(i,$event)">
              <mat-option *ngFor="let purchase of purchaseSuggestions" [value]="purchase">
                {{purchase.gatepasses[0].party.name + ' -- ' + purchase.basePrice}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-1" *ngIf="isBankVoucher">
            <input type="number" matInput placeholder="Bank Account" formControlName="bankAccountId"
              [matAutocomplete]="bankAccountAutoComplete" (input)="onBankAccountInput($event.target.value)">
            <mat-autocomplete #bankAccountAutoComplete="matAutocomplete" (optionSelected)="selectedBankAccount(i,$event)">
              <mat-option *ngFor="let bankAccount of bankAccountSuggestions" [value]="bankAccount">
                {{bankAccount.accountNumber}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Credit" formControlName="credit">
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Debit" formControlName="debit">
          </mat-form-field>
          <mat-form-field [ngClass]="{'col-3': isBankVoucher, 'col-4': !isBankVoucher}">
            <input type="text" matInput placeholder="Remarks" formControlName="remarks">
          </mat-form-field>
          <div class="col-1 d-flex" *ngIf="i!=0">
            <i class="fas fa-window-close fa-lg show-cursor my-auto text-danger" style="cursor: pointer;"
              (click)="deleteVoucherDetail(i)">
            </i>
          </div>
          <mat-chip-list class="col-12">
            <mat-chip *ngIf="voucherDetail.get('party').value">
              <p class="m-0">{{voucherDetail.get('party').value}}</p>
            </mat-chip>
            <mat-chip *ngIf="voucherDetail.get('sale').value && isSaleVoucher">
              <p class="m-0">{{voucherDetail.get('sale').value}}</p>
            </mat-chip>
            <mat-chip *ngIf="voucherDetail.get('purchase').value && !isSaleVoucher">
              <p class="m-0">{{voucherDetail.get('purchase').value}}</p>
            </mat-chip>
            <mat-chip *ngIf="voucherDetail.get('bankAccount').value && isBankVoucher">
              <p class="m-0">{{voucherDetail.get('bankAccount').value}}</p>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="col-md-12">
        <button mat-raised-button type="button" class="btn btn-primary" (click)="addVoucherDetail()">Add Voucher
          Detail</button>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>
          Save
        </button>
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="!isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>
          Update
        </button>
        <button mat-raised-button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteHeader>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Delete Voucher</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #deleteBody>
  <mat-dialog-content>
    Are you sure you want to delete this voucher?
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row mt-3 ml-1">
      <button mat-raised-button (click)="delete()" type="button" class="btn btn-primary">
        <span *ngIf="spinner.isLoading">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;
        </span>
        Yes
      </button>
      <button mat-raised-button (click)="closeModal()" class="btn btn-danger">No</button>
    </div>
  </mat-dialog-actions>
</ng-template>

<app-modal [Header]="header" [Body]="body" *ngIf="!isDelete"></app-modal>
<app-modal [Body]="deleteBody" *ngIf="isDelete"></app-modal>
