<div class="container">
  <div class="row invoice-header px-3 py-2">
    <div class="col-5">
      <h3 class="mt-0">Company Name</h3>
      <h4>Purchase Receipt</h4>
    </div>
    <div class="col-3 text-right">
      <p class="mb-0">Phone Number # 1</p>
      <p class="mb-0">Phone Number # 2</p>
      <p class="mb-0">Phone Number # 3</p>
      <!-- <p>email@adress.com</p> -->
      <!-- <p>personal-website.com</p> -->
    </div>
    <div class="col-4 text-right">
      <p class="mb-0">Company Address</p>
      <p>Company City, Country</p>
      <!-- <p>VAT ID / PID</p> -->
    </div>
  </div>

  <div class="invoice-content row px-5 pt-5">
    <div class="col-3">
      <h5 class="gray-ish">Invoiced to:</h5>
      <p class="gray-ish">{{purchase.company.name}}</p>
      <p class="gray-ish">{{purchase.company.address}}</p>
      <p class="gray-ish">{{purchase.company.phoneNumber}}</p>
    </div>
    <div class="col-3">
      <h5 class="gray-ish">Purchase number:</h5>
      <p class="gray-ish">{{purchase.id}}</p>

      <h5 class="gray-ish">Purchase Date</h5>
      <p class="gray-ish">{{purchase.checkIn | localDatetime}}</p>

    </div>
    <div class="col-6 text-right total-field">
      <h4 class="gray-ish">Purchase Total</h4>
      <h1 class="gray-ish">{{purchase.totalPrice | currency:'Rs '}}</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-10 offset-1 invoice-table pt-1">
      <table class="table table-hover">
        <thead class="thead splitForPrint">
          <tr>
            <th scope="col gray-ish">Product</th>
            <th scope="col gray-ish">Bag Qty</th>
            <th scope="col gray-ish">Kanda Weight</th>
            <th scope="col gray-ish">Total Actual Bag Weight</th>
            <th scope="col gray-ish">Total Maund</th>
            <th scope="col gray-ish">Rate per Maund</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{purchase.product.name}}</td>
            <td>{{purchase.bagQuantity}}</td>
            <td>{{purchase.kandaWeight}}</td>
            <td>{{purchase.totalActualBagWeight| currency:'KG '}}</td>
            <td>{{purchase.totalMaund}}</td>
            <td>{{purchase.ratePerMaund | currency:'Rs '}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row invoice_details">
    <!-- invoiced to details -->
    <div class="col-4 offset-1 pt-3">
      <!-- <h4 class="gray-ish">Invoice Summary & Notes</h4>
     <p class="pt-3 almost-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras purus sapien, ullamcorper quis orci eu, consectetur congue nulla. In a fermentum est, ornare maximus neque. Phasellus metus risus, mattis ac sapien in, volutpat laoreet lectus. Maecenas tincidunt condimentum quam, ut porttitor dui ultricies nec.</p> -->
    </div>
    <!-- Invoice assets and total -->
    <div class="offset-1 col-5 mb-3 pr-4 sub-table">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row gray-ish">Subtotal</th>
            <td class="text-right">{{purchase.basePrice | currency:'Rs '}}</td>
          </tr>
          <tr>
            <th scope="row gray-ish">Commission</th>
            <td class="text-right">{{purchase.commission | currency: 'Rs '}}</td>
          </tr>

          <tr *ngFor="let charge of purchase.additionalCharges">
            <th scope="row gray-ish">{{charge.task}}</th>
            <td class="text-right">{{charge.total | currency:'Rs '}}</td>
          </tr>
          <tr class="last-row">
            <th scope="row">
              <h4>Total</h4>
            </th>
            <td class="text-right">
              <h4>{{purchase.totalPrice | currency:'Rs '}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <p class="text-center pb-3"><em> Taxes will be calculated in &euro; regarding transport and other taxable
      services.</em></p> -->
</div>
