<ng-template #header>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Add Processed Materials</h2>
  <h2 mat-dialog-title class="d-inline" *ngIf="!isNew">Edit Processed Materials</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form class="container" [formGroup]="lotForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <!-- <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let gatepass of gatepasses"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(gatepass)">
                <p class="mb-0"><b>Party:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} | <b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add Gatepasses..."
                #gatepassInput
                formControlName="gatepass"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                >
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option class="custom-height" *ngFor="let gatepass of filteredGatepasses" [value]="gatepass">
                <span>
                  <p><b>Party:</b> {{gatepass?.party?.name}} | <b>Product:</b> {{gatepass?.product?.name}} </p>
                  <p><b>Maund:</b> {{gatepass?.maund}} | <b>Broker:</b> {{gatepass?.broker}} </p>
                </span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div> -->

      <div formArrayName="processedMaterial">
        <div *ngFor="let material of lotForm.get('processedMaterial')['controls']; index as i" [formGroupName]="i"
          class="row">
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="productId">
          <mat-form-field class="col-3">

            <!-- <input type="text" matInput placeholder="Enter Product Name" (input)="searchProduct($event.target.value)" formControlName="productId" autocomplete="off"
              [matAutocomplete]="productAutoComplete">
            <mat-autocomplete #productAutoComplete="matAutocomplete" (optionSelected)="selectedProduct($event,i)">
              <mat-option *ngFor="let product of productSuggestions" [value]="product">
                {{ product.name }}</mat-option>
            </mat-autocomplete> -->
            <input type="text" matInput placeholder="Product Name" formControlName="productName" readonly>
            <mat-error *ngIf="material.get('productName').hasError('required')">
              Product name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Bori Quantiy" formControlName="boriQuantity">
            <mat-error *ngIf="material.get('boriQuantity').hasError('required')">
              Bori quantity is required
            </mat-error>
            <mat-error *ngIf="material.get('boriQuantity').hasError('min')">
              Bori quantity should be greater than 0
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Bag Quantiy" formControlName="bagQuantity">
            <mat-error *ngIf="material.get('bagQuantity').hasError('required')">
              Bag quantity is required
            </mat-error>
            <mat-error *ngIf="material.get('bagQuantity').hasError('min')">
              Bag quantity should be greater than 0
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Per KG" formControlName="perKg">
            <mat-error *ngIf="material.get('perKg').hasError('required')">
              Per KG is required
            </mat-error>
            <mat-error *ngIf="material.get('perKg').hasError('min')">
              Per KG should be greater than 0
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-2">
            <input type="number" matInput placeholder="Enter Total KG" formControlName="totalKg">
            <mat-error *ngIf="material.get('totalKg').hasError('required')">
              Total KG is required
            </mat-error>
            <mat-error *ngIf="material.get('totalKg').hasError('min')">
              Total KG should be greater than 0
            </mat-error>
          </mat-form-field>
          <div class="col-1 d-flex">
            <i class="fas fa-window-close fa-lg show-cursor my-auto text-danger" style="cursor: pointer;"
              (click)="deleteProcessedMaterial(i)">
            </i>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <button mat-raised-button type="button" class="btn btn-primary" (click)="addProcessedMaterial()">Add Processed Material</button>
          </div>
          <div class="col-md-6">
            <span class="grand-total"><p class="d-flex justify-content-end"><b> Total Additional Charges:&nbsp;
            </b> {{ totalKg |currency:"PKR":"symbol":'1.2-2' }} </p>
            </span>
          </div>
        </div> -->
        <!-- <div class="col-md-12">
          <mat-divider class="mb-2"></mat-divider>
        </div> -->
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Save</button>
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="!isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Update</button>
        <button mat-raised-button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteHeader>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Delete Purchase</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #deleteBody>
  <mat-dialog-content>
    Are you sure you want to delete this purchase?
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row mt-3 ml-1">
      <!-- <button mat-raised-button (click)="delete()" type="button" class="btn btn-primary">
        <span *ngIf="spinner.isLoading">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;
        </span>Yes</button> -->
      <button mat-raised-button (click)="closeModal()" class="btn btn-danger">Cancel</button>
    </div>
  </mat-dialog-actions>
</ng-template>

<app-modal [Header]="header" [Body]="body" *ngIf="!isDelete"></app-modal>
<app-modal [Body]="deleteBody" *ngIf="isDelete"></app-modal>
