<div class="container">
  <div class="row invoice-header px-3 py-2">
    <div class="col-5">
      <h3 class="mt-0">Company Name</h3>
      <h4>Purchase Receipt</h4>
    </div>
    <div class="col-3 text-right">
      <p class="mb-0">Phone Number # 1</p>
      <p class="mb-0">Phone Number # 2</p>
      <p class="mb-0">Phone Number # 3</p>
      <!-- <p>email@adress.com</p> -->
      <!-- <p>personal-website.com</p> -->
    </div>
    <div class="col-4 text-right">
      <p class="mb-0">Company Address</p>
      <p>Company City, Country</p>
      <!-- <p>VAT ID / PID</p> -->
    </div>
  </div>

  <div class="invoice-content row px-5 pt-5">
    <div class="col-3">
      <h5 class="gray-ish">Invoiced to:</h5>
      <p class="gray-ish">{{gatepass.party.name}}</p>
      <p class="gray-ish">{{gatepass.party.address}}</p>
      <p class="gray-ish">{{gatepass.party.phoneNumber}}</p>
    </div>
    <div class="col-3">
      <h5 class="gray-ish">Gatepass number:</h5>
      <p class="gray-ish">{{gatepass.id}}</p>

      <h5 class="gray-ish">Gatepass Date</h5>
      <p class="gray-ish">{{gatepass.dateTime | localDatetime}}</p>

    </div>
    <div class="col-6 text-right total-field">
      <h4 class="gray-ish">Gatepass Type</h4>
      <h1 class="gray-ish">{{gatepass.type | gatepassType}}</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-10 offset-1 invoice-table pt-1">
      <table class="table table-hover">
        <thead class="thead splitForPrint">
          <tr>
            <th scope="col gray-ish">Vehicle</th>
            <th scope="col gray-ish">Plate No</th>
            <th scope="col gray-ish">Product</th>
            <th scope="col gray-ish">Bag Qty</th>
            <th scope="col gray-ish">Bori Qty</th>
            <th scope="col gray-ish">Weight Per Bag</th>
            <th scope="col gray-ish">Net Weight</th>
            <th scope="col gray-ish">Maund</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{gatepass.vehicle.name}}</td>
            <td>{{gatepass.vehicle.plateNo}}</td>
            <td>{{gatepass.product.name}}</td>
            <td>{{gatepass.bagQuantity}}</td>
            <td>{{gatepass.boriQuantity}}</td>
            <td>{{gatepass.weightPerBag}}</td>
            <td>{{gatepass.netWeight}}</td>
            <td>{{gatepass.maund}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

