<ng-template #header>
  <h2 mat-dialog-title class="d-inline">Change Password</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <mat-form-field class="d-block w-100 mb-1">
        <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
        <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">Current password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="d-block w-100 mb-1">
        <input type="password" matInput placeholder="New Password" formControlName="newPassword">
        <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">New password is required
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('pattern')">Password should contain (minimum of
          8 characters) at least one digit (0-9),one uppercase (A-Z), one lowercase (a-z) and one speacial character
        </mat-error>
      </mat-form-field>
      <mat-form-field class="d-block w-100 mb-1">
        <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">Confirm password is
          required</mat-error>
      </mat-form-field>
      <mat-error *ngIf="changePasswordForm.hasError('matchPassword')">New and confirm password don't match</mat-error>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>Save</button>
        <button mat-raised-button (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<app-modal [Header]="header" [Body]="body"></app-modal>
