<ng-template #header>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">Add Gate Pass</h2>
  <h2 mat-dialog-title class="d-inline" *ngIf="!isNew">Update Gate Pass</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #body>
  <form [formGroup]="gatepassForm" (ngSubmit)="submit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <mat-form-field class="w-100">
            <input type="datetime-local" matInput placeholder="Choose DateTime" formControlName="dateTime">
            <mat-error *ngIf="gatepassForm.get('dateTime').hasError('required')">
              Datetime is required</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-12">
          <label id="type" class="d-block">Select Gate Pass Type</label>
          <mat-radio-group aria-labelledby="type" formControlName="type">
            <mat-radio-button [value]="2" class="mr-2" color="primary"> Inward</mat-radio-button>
            <mat-radio-button [value]="1" color="primary"> Outward</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row" formGroupName="partyGroup">
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Party Name" formControlName="name" autocomplete="off"
              [matAutocomplete]="partyAutoComplete" autocomplete="party">
            <mat-autocomplete #partyAutoComplete="matAutocomplete" (optionSelected)="selectedParty($event)">
              <mat-option *ngFor="let party of partySuggestions" [value]="party">
                {{party.name + ' -- ' + party.address}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="gatepassForm.get('partyGroup.name').hasError('required')">
              Party Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Phone Number" formControlName="phoneNumber">
            <mat-error *ngIf="gatepassForm.get('partyGroup.phoneNumber').hasError('required')">
              Phone number is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('partyGroup.phoneNumber').hasError('maxlength')">
              Phone number must be less than 13 digits</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Party Address" formControlName="address">
            <mat-error *ngIf="gatepassForm.get('partyGroup.address').hasError('required')">
              Party address is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" formGroupName="vehicleGroup">
            <input type="text" matInput placeholder="Enter Plate Number" formControlName="plateNo" autocomplete="off"
              [matAutocomplete]="vehicleAutoComplete">
            <mat-autocomplete #vehicleAutoComplete="matAutocomplete" (optionSelected)="selectedVehicle($event)">
              <mat-option *ngFor="let vehicle of vehicleSuggestions" [value]="vehicle">
                {{vehicle.plateNo}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="gatepassForm.get('vehicleGroup.plateNo').hasError('required')">
              Plate number is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6" formGroupName="productGroup">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Product Name" formControlName="name" autocomplete="off"
              [matAutocomplete]="productAutoComplete">
            <mat-autocomplete #productAutoComplete="matAutocomplete" (optionSelected)="selectedProduct($event)">
              <mat-option *ngFor="let product of productSuggestions" [value]="product">
                {{ product.name }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="gatepassForm.get('productGroup.name').hasError('required')">
              Product name is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Checkbox for Processed Material/Non-Processed Materials -->
        <!-- <div class="col-2 d-flex justify-content-center align-items-center" formGroupName="productGroup">
          <mat-checkbox aria-labelledby="ProcessedMaterial" formControlName="isProcessedMaterial" color="primary">Processed Material
          </mat-checkbox>
        </div> -->

      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Broker Name" formControlName="broker">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="text" matInput placeholder="Enter Bilty Number" formControlName="biltyNumber">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <input type="number" matInput placeholder="Enter Lot Number" formControlName="lotId">
            <mat-error *ngIf="gatepassForm.get('lotId').hasError('required')">
              Lot number is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="weightPriceGroup">
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Bag Quantity" formControlName="bagQuantity">
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.bagQuantity').hasError('required')">
              Bag quantity is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.bagQuantity').hasError('min')">
              Bag quantity must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Bori Quantity" formControlName="boriQuantity">
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.boriQuantity').hasError('required')">
              Bori quantity is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.boriQuantity').hasError('min')">
              Bori quantity must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Weight Per Bag" formControlName="weightPerBag">
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.weightPerBag').hasError('required')">
              Weight per bag is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.weightPerBag').hasError('min')">
              Weight per bag must be greater than 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Kanda Weight" formControlName="kandaWeight">
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.kandaWeight').hasError('required')">
              kanda weight  is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.kandaWeight').hasError('min')">
              kanda weight must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Enter Empty Weight" formControlName="emptyWeight">
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.emptyWeight').hasError('required')">
              Empty weight is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.emptyWeight').hasError('min')">
              Empty weight must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Net Weight" formControlName="netWeight" readonly>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.netWeight').hasError('required')">
              Net weight is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.netWeight').hasError('min')">
              Net weight must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input type="number" matInput placeholder="Maund Weight" formControlName="maund" readonly>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.maund').hasError('required')">
              Maund weight is required
            </mat-error>
            <mat-error *ngIf="gatepassForm.get('weightPriceGroup.maund').hasError('min')">
              Maund weight must be greater than or equal to 0</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="row ml-1">
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>
          Save
        </button>
        <button mat-raised-button type="submit" class="btn btn-primary" *ngIf="!isNew">
          <span *ngIf="spinner.isLoading">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>
          Update
        </button>
        <button mat-raised-button type="button" (click)="closeModal()" class="btn btn-danger">Cancel</button>
      </div>
    </mat-dialog-actions>
  </form>
</ng-template>

<ng-template #deleteHeader>
  <h2 mat-dialog-title class="d-inline" *ngIf="isNew">{{'gatepassModalPage.deleteGatepass'|translate}}</h2>
  <span class="float-right">
    <i class="fa fa-times show-cursor" style="cursor: pointer;" (click)="closeModal()">
    </i>
  </span>
  <div class="clearfix"></div>
</ng-template>

<ng-template #deleteBody>
  <mat-dialog-content>
    {{'gatepassModalPage.deleteMessage'|translate}}
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row mt-3 ml-1">
      <button mat-raised-button (click)="delete()" type="button" class="btn btn-primary">
        <span *ngIf="spinner.isLoading">
          <i class="fas fa-spinner fa-spin"></i>&nbsp;
        </span>
        {{'gatepassModalPage.yes'|translate}}
      </button>
      <button mat-raised-button (click)="closeModal()"
        class="btn btn-danger">{{'gatepassModalPage.cancel'|translate}}</button>
    </div>
  </mat-dialog-actions>
</ng-template>

<app-modal [Header]="header" [Body]="body" *ngIf="!isDelete"></app-modal>
<app-modal [Body]="deleteBody" *ngIf="isDelete"></app-modal>
